// $primary-color: #0f1923;
$primary-color: white;
$secondary-color: #ffffff;
$accent-color: #8cc32e;
$accent-color-hover: #6fa80b;
$font-primary: "Helvetica Neue", Arial, sans-serif;
$font-heading: "Montserrat", sans-serif;
$secondary-color: #888 !default;
