// 1. Abstracts: biáº¿n, mixin, function
@import "abstracts/variables";
@import "abstracts/mixins";

// 2. Base: reset, base style, font

@import "base/base";

// 3. Layouts: header, footer, grid, v.v.
@import "layout/header";
@import "layout/footer";

// 4. Components: button, card, navbar
@import "components/button";

// 5. Pages
@import "pages/home";
@import "pages/register";
@import "pages/product-detail";

// 6. Themes & Vendors
@import "themes/theme";
@import "vendors/bootstrap";
