// Footer
.site-footer {
  // background-color: darken($primary-color, 5%);
  background-color: #0f1923;
  padding: 60px 0 30px;

  .footer-heading {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #aaa;
        font-size: 0.9rem;
        @include transition();

        &:hover {
          color: $accent-color;
          padding-left: 5px;
        }
      }
    }
  }

  address {
    color: #aaa;
    font-size: 0.9rem;
    font-style: normal;

    p {
      margin-bottom: 10px;
    }
  }

  .social-icons {
    margin-top: 20px;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      margin-right: 10px;
      color: $secondary-color;
      @include transition();

      &:hover {
        background-color: $accent-color;
        color: $secondary-color;
      }
    }
  }

  .copyright {
    color: #666;
    font-size: 0.8rem;
    margin-top: 20px;
  }
}
