// Header Styles
.site-header {
  width: 100%;
  z-index: 100;
  padding: 20px 0;
  background-color: #0f1923;

  .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .nav-link {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
      color: $accent-color !important;
    }
  }
  .active {
    color: $accent-color !important;
  }

  .header-icons {
    display: flex;
    align-items: center;

    .icon-link {
      margin-left: 15px;
      font-size: 1.2rem;
    }

    .cart-icon {
      margin-left: 15px;
      display: flex;
      align-items: center;

      .cart-count {
        background-color: $accent-color;
        color: $secondary-color;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        margin-left: 5px;
      }

      .cart-text {
        font-size: 0.8rem;
        margin-left: 5px;
        display: none;

        @media (min-width: 992px) {
          display: inline;
        }
      }
    }
  }
}

.user-dropdown {
  .dropdown-menu {
<<<<<<< Updated upstream
    left: 0px;
=======
<<<<<<< HEAD
    // left: 0px;
    min-width: 150px;
=======
    left: 0px;
>>>>>>> 715e02d (Update trang home)
>>>>>>> Stashed changes
  }
}
.dropdown-menu {
  background-color: transparent;
  border: 1px solid white;
  left: 0px;
  min-width: 150px;

  .dropdown-item {
    color: white;

    &:hover {
      color: white;
      background-color: $accent-color;
    }
  }

  hr.dropdown-divider {
    border-color: #444;
  }
}
/* CSS cho thanh search */
.search-bar {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 999;
}

.search-bar input {
  width: 100%;
  max-width: 500px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
}

.search-bar button {
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.search-bar.active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
@media (max-width: 820px) {
  .dropdown-menu {
    background-color: white;
    border: 1px solid black;
    // left: 0px;
    min-width: 150px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    .dropdown-item {
      color: black;

      &:hover {
        color: white;
        background-color: $accent-color;
      }
    }
  }
}
=======
>>>>>>> 715e02d (Update trang home)
>>>>>>> Stashed changes
